body{
    margin: 0px;
    background-color: white;
}

/******DESKTOP MEDIA QUERY******/
@media (min-width: 993px){

/*Deskop - Header*/
.Header{
    display: flex;
    background-color: #CEF2EC;
    min-height: 10vh;
}
.Header .HLogo{
    position: absolute;
    max-width: 5%;
    margin: 1.25% 0% 0% 5%;
}
.Header .menu{
    position: absolute;
    margin: 1.25% 0% 0% 55%;
}
.Header .menu a{
    padding-left: 4vw;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 1.25vw;
    color: #59428C;
    text-shadow: 0 0 5px white;
    text-decoration: none;
}

/*Desktop - Body*/
.body{
    background-color: white;
}
p{
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 2vw;
    text-align: center;
    color: #59428C;
}
h1{
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    color: #59428C;
}
/*Desktop - About*/
.AboutSec{
    display: flex;
    background: linear-gradient(135deg, #CEF2EC, white, #CEF2EC);
    min-height: 100vh;
}
.VN_HomewMenu{
    position: absolute;
    max-height: 60vh;
    margin: 10% 0% 0% 15%;
}
.AboutSec .AppAG{
    height: 15vh;
    margin: 30% 0% 0% 57%;
}
.AboutSec p{
    color: #59428C;
    text-shadow: 0 0 1.5px white;
    position: absolute;
    padding-top: 5px;
    margin: 20% 15% 0% 40%;
}

/*Desktop - Features*/
#Features{
    padding: 1.5vw;
    margin: 1.5vw 30% 0% 30%;
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 2.5vw;
    font-weight: 600;
    background: -webkit-linear-gradient(45deg,#CEF2EC, #59428C);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
}    
#carouselExampleIndicators{
    margin: 0% auto 0% auto;
    max-width: 90%;
    border-radius: 25px;
    background: linear-gradient(45deg, #CEF2EC, #59428C);
    box-shadow: 0 0 10px  rgba(0,0,0,0.6);
                -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
                -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
                -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);;
}
.carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin: 0 5px;
    background-color: white;
    opacity: 0.4;
}
.carousel-item .VN_App_Img{
    display: block;
    max-height: 60vh;
    margin: 1% auto 10% auto;
}
.carousel-control-prev, .carousel-control-next{
    background-color: gray;
    height: 42px;
    width: 42px;
    border-radius: 25%;
    margin: auto 1%;
}
.carousel-item p{
    font-size: 1.5vw;
    color: white;
    text-shadow: 0 0 1px white;
}
.FeaturesGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    grid-gap: 5px;
    align-content: center;
    width: 80%;
    margin: 5% auto 0% auto;
}
.FeaturesGrid h1{
    padding: 1.5vw;
    margin: 1% 0% 0% 0%;
}
.FeaturesGrid p{
    padding: 1.5vw;
    margin: 1% 0% 0% 0%;
}

/*Desktop - Our Team*/
#OurTeam{
    padding: 1.5vw;
    margin: 1.5vw 30% 0% 30%;
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 2.5vw;
    font-weight: 600;
    background: -webkit-linear-gradient(45deg,#CEF2EC, #59428C);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;   
}
.TeamGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    align-content: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.TeamGrid .bio_img{
    max-width: 30vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.TeamGrid p{
    padding: 1.5vw;
    margin-bottom: 0px;
}

/*Desktop - Resources*/
#Resources{
    padding: 1.5vw;
    margin: 1.5vw 30% 0% 30%;
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 2.5vw;
    font-weight: 600;
    background: -webkit-linear-gradient(45deg,#CEF2EC, #59428C);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;      
}
.ResourcesContainer{
    display: flex;
}
.ResourcesContainer .Bandaid{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}
.ResourcesContainer p{
    position: absolute;
    margin: 7% 25% 7% 25%;
    background-color: lightgray;
    opacity: 0.75;
    border-radius: 25px;
    padding: 1%;
}
.ResourcesCards{
    width: 80%;
    margin: 1.5vw auto 1.5vw auto;
}
.ResourcesCards .card{
    border-radius: 25px;
}
.ResourcesCards .card-img-top{
    border-radius: 25px;
}
.ResourcesCards .card-body{
    min-height: 25vh;
    max-height: 30vh;
    margin: 10% 5% 5% 5%;
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 2vw;
    color: #59428C;
}
.ResourcesCards .card-body .btn{
    color: #59428C;
    border-color: #59428C;
}
.ResourcesCards .card-body .btn:hover{
    background-color: #59428C;
    color: white;
}

/*Desktop - Footer*/
.footer{
    background-color: #CEF2EC;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.footer .SocialMediaGrid{
    display: grid;
    grid-template-columns: 5vw 5vw;
    grid-template-rows: 10vh 10vh 10vh;
    justify-content: center;
    align-items: center;
}
.footer .SocialMediaGrid p{
    font-size: 1vw;
    margin: 15px 0px 10px 0px;
}
.footer .LogoGrid{
    display: grid;
    grid-template-rows: 10vh 10vh 10vh;
}
.footer .LogoGrid .FLogo{
    max-height: 80%;
    margin: auto;
}
.footer .LogoGrid p{
    font-size: 1vw;
    margin: auto;
}
.footer .AppAG{
    margin: auto;
    height: 15vh;
}
}

/******TABLET MEDIA QUERY******/
@media (max-width: 992px) and (min-width: 600px){

/*Tablet - Header*/
.Header{
    display: flex;
    background-color: #CEF2EC;
    min-height: 10vh;
}
.Header .HLogo{
    position: absolute;
    max-width: 10%;
    margin: 1% 47.5% 1% 47.5%;
}
.Header .menu{
    display: none;
}

/*Tablet - Body*/
.body{
    background-color: white;
}
p{
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 2vw;
    text-align: center;
    color: #59428C;
}
h1{
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    color: #59428C;
}
/*Tablet - About*/
.AboutSec{
    display: flex;
    background: linear-gradient(135deg, #CEF2EC, white, #CEF2EC);
    min-height: 130vh;
}
.VN_HomewMenu{
    position: absolute;
    max-height: 60vh;
    margin: 10% 40% 0% 40%;
}
.AboutSec p{
    color: #59428C;
    text-shadow: 0 0 1.5px white;
    font-size: 4.5vw;
    text-align: center;
    padding-top: 60vh;
    margin: 15% 15% 0% 15%;
}
.AboutSec .AppAG{
    position: absolute;
    height: 15vh;
    margin: 110vh 42.5% 0% 42.5%; 
}

/*Tablet - Features*/
#Features{
    padding: 1.5vw;
    margin: 1.5vw 30% 0% 30%;
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 7.5vw;
    font-weight: 600;
    background: -webkit-linear-gradient(45deg,#CEF2EC, #59428C);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
}
#carouselExampleIndicators{
    margin: 0% auto 0% auto;
    max-width: 90%;
    border-radius: 25px;
    background: linear-gradient(45deg, #CEF2EC, #59428C);
    box-shadow: 0 0 10px  rgba(0,0,0,0.6);
                -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
                -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
                -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);;
}
.carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin: 0 5px;
    background-color: white;
    opacity: 0.4;
}    
.carousel-item .VN_App_Img{
    display: block;
    max-height: 100vh;
    margin: 10% auto 55% auto;
}
.carousel-control-prev, .carousel-control-next{
    background-color: gray;
    height: 42px;
    width: 42px;
    border-radius: 25%;
    margin: auto 1%;
}
.carousel-item p{
    font-size: 4.5vw;
    color: white;
    text-shadow: 0 0 1px white;
}
.FeaturesGrid{
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: space-evenly;
    margin-left: 10%;
    margin-right: 10%;
}
.FeaturesGrid h1{
    font-size: 4.5vw;
    padding: 1.5vw;
    margin: 1% 0% 0% 0%;
}
.FeaturesGrid p{
    font-size: 4.5vw;
    padding: 1.5vw;
    margin: 1% 0% 0% 0%;
}

/*Tablet - Our Team*/
#OurTeam{
    padding: 1.5vw;
    margin: 1.5vw 20% 0% 20%;
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 7.5vw;
    font-weight: 600;
    background: -webkit-linear-gradient(45deg,#CEF2EC, #59428C);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;   
}
.TeamGrid{
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: space-evenly;
    margin-left: 10%;
    margin-right: 10%;
}
.TeamGrid .bio_img{
    max-width: 30vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.TeamGrid p{
    font-size: 4.5vw;
    padding: 1.5vw;
    margin-bottom: 0px;
}

/*Tablet - Resources*/
#Resources{
    padding: 1.5vw;
    margin: 1.5vw 25% 0% 25%;
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 7.5vw;
    font-weight: 600;
    background: -webkit-linear-gradient(45deg,#CEF2EC, #59428C);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;      
}
.ResourcesContainer{
    display: flex;
}
.ResourcesContainer .Bandaid{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}
.ResourcesContainer p{
    position: absolute;
    margin: 2.5% 15% 2.5% 15%;
    background-color: lightgray;
    opacity: 0.75;
    border-radius: 25px;
    padding-left: 1.75%;
    padding-right: 1.75%;
    font-size: 4vw;
    font-weight: bold;
}
.ResourcesCards{
    width: 80%;
    margin: 1.5vw auto 1.5vw auto;
}
.ResourcesCards .card{
    border-radius: 25px;
}
.ResourcesCards .card-img-top{
    border-radius: 25px;
}
.ResourcesCards .card-body{
    height: 35vh;
    margin: 10% 2% 5% 2%;
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 2vw;
    color: #59428C;
}
.ResourcesCards .card-body .btn{
    color: #59428C;
    border-color: #59428C;
}
.ResourcesCards .card-body .btn:hover{
    background-color: #59428C;
    color: white;
}

/*Tablet - Footer*/
.footer{
    background-color: #CEF2EC;
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 13vh 10.5vh 12vh;
}
.footer .SocialMediaGrid{
    display: grid;
    grid-row: 2;
    grid-template-columns: 5vw 5vw;
    grid-template-rows: 10vh 10vh 10vh;
    grid-template-rows: 5vh;
    grid-template-columns: 10vw 10vw 10vw;
    justify-content: center;
    align-items: center;
}
.footer .SocialMediaGrid img{
    margin: 10vh 40% 0% 40%;
    height: 5vh;
}
.footer .SocialMediaGrid p{
    display: none;
}
.footer .LogoGrid{
    display: grid;
    grid-row: 1;
    grid-template-rows: 6vh 5vh 5vh;
    max-height: 50%;
}
.footer .LogoGrid .FLogo{
    max-height: 100%;
    margin: auto;
}
.footer .LogoGrid p{
    margin: 1% 1.5% 3% 1.5%;
    font-size: 2.5vw;
}
.footer .AppAG{
    grid-row: 3;
    margin: auto;
    height: 10vh;
}
}

/******MOBILE MEDIA QUERY******/
@media (max-width: 599px){

/*Mobile - Body*/
.body{
    background-color: white;
}
p{
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 2vw;
    text-align: center;
    color: #59428C;
}
h1{
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    color: #59428C;
}
/*Mobile - Header*/
.Header{
    display: flex;
    background-color: #CEF2EC;
    min-height: 11vh;
}
.Header .HLogo{
    position: absolute;
    max-width: 25%;
    margin: 2.5% 35% 1% 37.5%;
}
.Header .menu{
    display: none;
}  
/*Mobile - About*/
.AboutSec{
    display: flex;
    background: linear-gradient(135deg, #CEF2EC, white, #CEF2EC);
    min-height: 100vh;
}
.VN_HomewMenu{
    position: absolute;
    max-height: 60vh;
    margin: 10% 22.5% 0% 22.5%;
}
.AboutSec p{
    color: #59428C;
    text-shadow: 0 0 1.5px white;
    font-size: 4.5vw;
    padding-top: 60vh;
    display: block;
    text-align: center;
    margin: 20% 22.5% 0% 22.5%;
}
.AboutSec .AppAG{
    position: absolute;
    display: block;
    text-align: center;
    height: 7.5vh;
    margin: 90vh 37.5% 0% 37.5%;  
}

/*Mobile - Features*/
#Features{
    padding: 1.5vw;
    margin: 1.5vw 30% 0% 30%;
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 7.5vw;
    font-weight: 600;
    background: -webkit-linear-gradient(45deg,#CEF2EC, #59428C);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
}
#carouselExampleIndicators{
    margin: 0% auto 0% auto;
    max-width: 90%;
    border-radius: 25px;
    background: linear-gradient(45deg, #CEF2EC, #59428C);
    box-shadow: 0 0 10px  rgba(0,0,0,0.6);
                -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
                -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
                -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);;
}
.carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin: 0 5px;
    background-color: white;
    opacity: 0.4;
}    
.carousel-item .VN_App_Img{
    display: block;
    max-height: 60vh;
    margin: 10% auto 65% auto;
}
.carousel-control-prev, .carousel-control-next{
    background-color: gray;
    height: 42px;
    width: 42px;
    border-radius: 25%;
    margin: auto 1%;
}
.carousel-item p{
    font-size: 4.5vw;
    color: white;
    text-shadow: 0 0 1px white;
}
.FeaturesGrid{
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: space-evenly;
    margin-left: 10%;
    margin-right: 10%;
}
.FeaturesGrid h1{
    font-size: 4.5vw;
    padding: 1.5vw;
    margin: 1% 0% 0% 0%;
}
.FeaturesGrid p{
    font-size: 4.5vw;
    padding: 1.5vw;
    margin: 1% 0% 0% 0%;
}
    
/*Mobile - Our Team*/
#OurTeam{
    padding: 1.5vw;
    margin: 1.5vw 20% 0% 20%;
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 7.5vw;
    font-weight: 600;
    background: -webkit-linear-gradient(45deg,#CEF2EC, #59428C);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;   
}
.TeamGrid{
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: space-evenly;
    margin-left: 10%;
    margin-right: 10%;
}
.TeamGrid .bio_img{
    max-width: 30vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.TeamGrid p{
    font-size: 4.5vw;
    padding: 1.5vw;
    margin-bottom: 0px;
}

/*Mobile - Resources*/
#Resources{
    padding: 1.5vw;
    margin: 1.5vw 25% 0% 25%;
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 7.5vw;
    font-weight: 600;
    background: -webkit-linear-gradient(45deg,#CEF2EC, #59428C);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;      
}
.ResourcesContainer{
    display: flex;
}
.ResourcesContainer .Bandaid{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}
.ResourcesContainer p{
    position: absolute;
    margin: 2.5% 15% 2.5% 15%;
    background-color: lightgray;
    opacity: 0.75;
    border-radius: 25px;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 4vw;
    font-weight: bold;
}
.ResourcesCards{
    width: 80%;
    margin: 1.5vw auto 3vw auto;
}
.ResourcesCards .card{
    border-radius: 25px;
}
.ResourcesCards .card-img-top{
    border-radius: 25px;
}
.ResourcesCards .card-body{
    min-height: 25vh;
    max-height: 30vh;
    margin: 10% 5% 5% 5%;
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 2vw;
    color: #59428C;
}
.ResourcesCards .card-body .btn{
    color: #59428C;
    border-color: #59428C;
}
.ResourcesCards .card-body .btn:hover{
    background-color: #59428C;
    color: white;
}
/*Mobile - Footer*/
.footer{
    background-color: #CEF2EC;
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 10vh 7.5vh 7.5vh;
}
.footer .SocialMediaGrid{
    display: grid;
    grid-row: 2;
    grid-template-columns: 5vw 5vw;
    grid-template-rows: 10vh 10vh 10vh;
    grid-template-rows: 5vh;
    grid-template-columns: 10vw 10vw 10vw;
    justify-content: center;
    align-items: center;
}
.footer .SocialMediaGrid p{
    display: none;
}
.footer .SocialMediaGrid img{
    margin: 6vh 0% 0% 0%;
    height: 5vh;
}
.footer .LogoGrid{
    display: grid;
    grid-row: 1;
    grid-template-rows: 5vh 2.5vh 2.5vh;
    max-height: 50%;
}
.footer .LogoGrid .FLogo{
    max-height: 80%;
    margin: auto;
}
.footer .LogoGrid p{
    margin: 1.5% 1.5% 0% 1.5%;
    font-size: 3vw;
}
.footer .AppAG{
    grid-row: 3;
    margin: auto;
    height: 5vh;
}
}


